<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">The E-Bartender</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style>html{visibility: hidden;opacity:0;}</style>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/datalist.css}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navigationMyBar">
    <div class="container">
        <a class="navbar-brand">The Bartender</a>
        <button aria-controls="navbarColor02" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarColor01" data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/mybar}">My Bar <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/whatcanimake}">What can I
                        Make?</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item, navbar-text">Welcome, <span
                        th:text="${user.username}"></span>!
                </li>
                <li class="nav-item"><a class="nav-link" href="/logout">(Log
                    Out)</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navigationResults">
    <div class="container">
        <a class="navbar-brand">E-Bartender</a>
        <button aria-controls="navbarColor02" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarColor02" data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/mybar}">My Bar <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/whatcanimake}">What can I
                        Make?</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Results</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item, navbar-text">Welcome, <span
                        th:text="${user.username}"></span>!
                </li>
                <li class="nav-item"><a class="nav-link" href="/logout">(Log
                    Out)</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col" th:fragment="cardBg-primary">
    <div class="card text-white bg-primary mb-5" style="max-width: 20rem;" >
        <a class="card-header"
           th:href="@{'../../drinks/'+${drink.id}}"
           th:text="${drink.name}"
           th:value="${drink.id}"></a>
        <a class="card-body" th:href="@{'../../drinks/'+${drink.id}}">
            <img class="image" style="width: 100%; display: block;" th:src="${drink.thumbnail}">
            <div class="middle text-white bg-primary">
                <p><strong>Click for the recipe.</strong></p>
            </div>
        </a>
    </div>
</div>
<div class="col" th:fragment="cardBg-info">
    <div class="card text-white bg-info mb-5" style="max-width: 20rem;">
        <a class="card-header"
           th:href="@{'../../drinks/'+${drink.id}}"
           th:text="${drink.name}"
           th:value="${drink.id}"></a>
        <a class="card-body" th:href="@{'../../drinks/'+${drink.id}}">
            <img class="image" style="width: 100%; display: block;" th:src="${drink.thumbnail}">
            <div class="middle text-white bg-info">
                <p><strong>Click for the recipe.</strong></p>
            </div>
        </a>
    </div>
</div>
<div class="col" th:fragment="cardBg-danger">
    <div class="card text-white bg-danger mb-5" style="max-width: 20rem;">
        <a class="card-header"
           th:href="@{'../../drinks/'+${drink.id}}"
           th:text="${drink.name}"
           th:value="${drink.id}"></a>
        <a class="card-body" th:href="@{'../../drinks/'+${drink.id}}">
            <img class="image" style="width: 100%; display: block;" th:src="${drink.thumbnail}">
            <div class="middle text-white bg-danger">
                <p><strong>Click for the recipe.</strong></p>
            </div>
        </a>
    </div>
</div>
</body>
</html>