<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
<div class="jumbotron text-center">
    <img th:src="@{/images/bartender.jpg}"/>
    <hr><h2>The E-Bartender</h2></hr>
    <p class="lead">Your favorite online source for cocktail recipes you can make with the contents of your home bar.</p>
    <hr class="my-4">
    <p>If you have already created an account, click the Log In button. Otherwise, click the Register button.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg mr-5" href="/login" role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </p>
</div></div>
</body>
</html>