<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">E-Bartender</a>
            <button aria-controls="navbarColor02" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarColor02" data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/mybar}">My Bar <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{~/whatcanimake}">What can
                            I Make?</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item, navbar-text">Welcome, <span
                            th:text="${user.username}"></span>!
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/logout">(Log
                        Out)</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <section>
        <form method="post" th:object="${whatCanIMakeForm}">
            <div class="row justify-content-md-start">
                <div class="col-md-auto">
                    <label class="col-form-label" th:for="cocktailName">Search
                        for a cocktail by name:</label>
                </div>
                <div class="col-md-auto">
                    <input th:field="*{cocktailName}" type="text"/>
                </div>
                <div class="col-md-auto">
                    <input type="submit" value="Search"/>
                </div>
            </div>
        </form>
    </section>
    <section>
        <form action="/whatcanimake/surpriseme" method="post">
            <div class="row justify-content-md-start">
                <div class="col-md-auto">
                    <label class="col-form-label">Show me what I can make with
                        the ingredients I have in my bar <b>right
                            now</b>: </label>
                </div>
                <div class="col-md-auto">
                    <input name="numberOfMissingIngredients" th:value="0"
                           type="hidden">
                    <input type="submit" value="Show Me!"/>
                </div>
            </div>
        </form>
    </section>
    <section>
        <form action="/whatcanimake/surpriseme" method="post">
            <div class="row justify-content-md-start">
                <div class="col-md-auto">
                    <label class="col-form-label">Show me what I can make by
                        adding only <b>one more ingredient</b> to
                        my bar:</label>
                </div>
                <div class="col-md-auto">
                    <input name="numberOfMissingIngredients" th:value="1"
                           type="hidden">
                    <input type="submit" value="Show Me!"/>
                </div>
            </div>
        </form>
    </section>
    <section>
        <form action="/whatcanimake/surpriseme" method="post">
            <div class="row justify-content-md-start">
                <div class="col-md-auto">
                    <label class="col-form-label">Show me what I can make by
                        adding only <b>two more ingredients</b> to
                        my bar:</label>
                </div>
                <div class="col-md-auto">
                    <input name="numberOfMissingIngredients" th:value="2"
                           type="hidden">
                    <input type="submit" value="Show Me!"/>
                </div>
            </div>
        </form>
    </section>
</div>
<section>
    <div class="container"
         th:if="${user.ingredients != null and !user.ingredients.empty}">
        <div class="row">
            <div class="col">
                <label class="col-form-label">Search By Ingredient(s) In Your
                    Bar: <p class="text-info">(Note: if you
                        select more than one ingredient your results will
                        include only those drinks that contain <b>all</b>
                        of your selected ingredients)</p></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/byingredient" method="post">
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-dark">
                            <th scope="col">Ingredient Name</th>
                            <th scope="col">Select Ingredient(s):</th>
                        </tr>
                        </thead>
                        <tbody th:each="ingredient, iterStat:${user.ingredients}">
                        <tr th:class="${iterStat.odd}? 'table-light':'table-dark'">
                            <td th:text="${ingredient.name}"></td>
                            <td><input name="strIngredients"
                                       th:id="${ingredient.name}"
                                       th:value="${ingredient.name}"
                                       type="checkbox"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="mb-5" type="submit"
                           value="Search By Ingredient(s)"/>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>